@import "tailwindcss";
@plugin "daisyui";

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.input {
  outline: none;
}

.profileIcon {
  position: relative;
  left: 90rem;
  bottom: 1rem;
}

.addPrice {
  position: relative;
  left: 87.3rem;
  top: 3.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-group input {
  width: 250px;
  padding: 8px;
  font-size: 16px;
  box-sizing: border-box;
}

.usdIcon {
  position: relative;
  left: 13.5rem;
  bottom: 2.3rem;
  z-index: 2;
}

.photo {
  width: 22rem;
  height: 22rem;
  border-radius: 0.7rem;
  object-fit: cover;
}

.resCard {
  height: 25rem;
  margin-top: 5rem;
  margin-left: 2rem;
}

.cardTitle {
  position: relative;
  top: 1rem;
}

.cardDesc {
  position: relative;
  top: 0.5rem;
}

.pricBtn {
  position: relative;
  bottom: 18rem;
  right: 2rem;
}
