@import "tailwindcss";
@plugin "daisyui";

/* boldonse-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Boldonse";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/boldonse-v1-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.input {
  outline: none;
}

.profileIcon {
  position: relative;
  left: 90rem;
}

.addPrice {
  position: relative;
  left: 87.3rem;
  top: 4.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-group input {
  width: 250px;
  padding: 8px;
  font-size: 16px;
  box-sizing: border-box;
}

.usdIcon {
  position: relative;
  left: 13.5rem;
  bottom: 2.3rem;
  z-index: 2;
}

.photo {
  width: 22rem;
  height: 22rem;
  border-radius: 0.7rem;
  object-fit: cover;
}

.resCard {
  height: 25rem;
  margin-top: 5rem;
  margin-left: 2rem;
}

.cardTitle {
  position: relative;
  top: 1rem;
}

.cardDesc {
  position: relative;
  top: 0.5rem;
}

.pricBtn {
  position: relative;
  bottom: 18rem;
  right: 2rem;
}

.mainTitle {
  position: relative;
  left: 2rem;
  top: 2rem;
  font-family: "Boldonse";
}
